h1,h2,h3,h4,h5,h6,p,input {
    font-family: 'Amatic SC', cursive !important;
    /* font-size: 10rem; */
    color: mediumpurple;
    font-weight: 700;
}
h1 {
    font-size: 10rem;
}
h2 {
    font-size: 5rem;
}
p,h6, input, .form-control {
    font-size: 1.5rem;
    color: darkgreen;
    
}